.home {
    min-width: 100%;
    min-height: 100vh;
    background: url(../assets/home/background-home-desktop.jpg) no-repeat;
    background-size: cover;
    
}

.crew {
    min-width: 100%;
    min-height: 100vh;
    background: url(../assets/home/background-home-desktop.jpg) no-repeat;
    background-size: cover;
}



