* {
    font-family: 'Barlow Condensed', sans-serif;
}

.yourCrew span {
    color: #fff;
    opacity: 0.5;
    font-weight: bold;
    letter-spacing: 4.7px;
}

.yourCrew {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: normal;
    letter-spacing: 4.7px;
    grid-area: greeting;
}

.crewContainer {
    text-align: center;
    display: grid;
    justify-items: center;
    grid-template-areas: 
        "greeting"
        "image"
        "carousel"
        "card"
    ;
}

.cardContainer {
    width: 80%;
    min-width: 250px;
    grid-area: card;
}

.role {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
}

.crewContainer h1 {
    margin-top: 15px;
    font-family: 'Bellefair';
    font-weight: 400;
    font-size: 24px;
    line-height: 64px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.bio {
font-family: 'Barlow';
font-weight: 400;
font-size: 15px;
line-height: 32px;
letter-spacing: .7px;
color: #D0D6F9;
}

.carousel {
    width: 132px;
    display: flex;
    justify-content: space-between;
    grid-area: carousel;
}

.active {
    color: #fff;
    fill: #fff;
}

.circle {
    color: #fff;
    fill: #fff;
    opacity: .17;
    cursor: pointer;
}

.content {
    display: none;
}

.activeContent {
    display: block;
}

.crewImg {
    height: 79%;
    width: 39%;
    grid-area: image;
}