* {
    font-family: 'Barlow Condensed', sans-serif;
}

.yourCrew span {
    color: #fff;
    opacity: 0.5;
    font-weight: bold;
    letter-spacing: 4.7px;
}

.yourCrew {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: normal;
    letter-spacing: 4.7px;
    grid-area: greeting;
}

.crewContainer {
    text-align: center;
    display: grid;
    justify-items: center;
    grid-template-areas: 
        "greeting"
        "image"
        "carousel"
        "card"
    ;
}

.cardContainer {
    width: 80%;
    min-width: 250px;
    grid-area: card;
}

.role {
    margin: 0;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.5;
}

.crewContainer h1 {
    margin-top: 6px;
    font-family: 'Bellefair';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.bio {
font-family: 'Barlow';
font-weight: 400;
font-size: 15px;
line-height: 32px;
letter-spacing: .7px;
color: #D0D6F9;
}

.carousel {
    margin-bottom: 32px;
    width: 132px;
    display: flex;
    justify-content: space-between;
    grid-area: carousel;
}

.active {
    color: #fff;
    fill: #fff;
}

.circle {
    color: #fff;
    fill: #fff;
    opacity: .17;
    cursor: pointer;
}

.content {
    display: none;
}

.activeContent {
    display: block;
}

.crewImg {
    height: 222px;
    margin-top: 32px;
    grid-area: image;
}

.imgBorder {
    width: 327px;
    margin-bottom: 32px;
    border-bottom: 1px solid #383B4B;
}

/* Tablet styling */

@media only screen and (min-width: 768px) {
    .crewContainer {
        grid-template-areas: 
        "greeting"
        "card"
        "carousel"
        "image";             
    }

    .yourCrew, .yourCrew span {
        margin-top: 40px;
        margin-left: 38px;
        text-align: start;
        font-size: 20px;
    }

    .role {
        font-size: 24px;
    }

    .crewContainer h1 {
        margin-top: 8px;
        line-height: 46px;
        font-size: 40px;
    }

    .crewImg {
        height: 572px;
        position: absolute;
        bottom: 0;
        left: 25%;
    }

    .bio {
        margin-bottom: 40px;
        font-size: 16px;
    }

    .imgBorder {
        border: none;
    }
}

/* Desktop styles */

@media only screen and (min-width: 1000px) {
    .crewContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;             
    }

    .cardContainer {
        width: 786px;
    }

    .crewImg {
        position: absolute;
        left: 65%;
    }
}