* {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
}

.contentContainer {
    display: grid;
    justify-items: center;
}

.yourDestination {
    margin-top: 4%;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 4.7px;
    text-transform: uppercase;
}

.yourDestination span {
    margin-right: 2%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 4.7px;
    opacity: 0.25;
}

.planetImg {
    margin: 5%;
    width: 40%;
    min-height: 250px;
    min-width: 250px;
}

.cardContainer {
    text-align: center;
    width: 80%;
    min-width: 250px;
    margin-top: 2%;
}

.cardTabs ul {
    margin: 0 auto;
    padding: 0;
    max-width: 285px;
    display: flex;
    justify-content: space-between; 
    color: white;
    list-style: none;
}

.cardTabs li{
    text-decoration: none;
    color: #D0D6F9;
    font-size: .9rem;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    cursor: pointer;
}

.activeTab {
    padding-bottom: 12px ;
    border-bottom: 3px solid #fff;
}

.cardTabs li:hover {
    padding-bottom: 12px ;
    border-bottom: 3px solid hsl(0, 0%, 50%);
    
}

.content {
    display: none;
}

.activeContent {
    display: block;
}

.cardDesc h1{
    margin: 37px 0 14px 0;
    color: #fff;
    font-size: 3.5rem;
    font-weight: 400;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
}

.cardDesc p {
    margin-bottom: 14%;
    color: #D0D6F9;
    font-size: 18px;
    font-weight: 200;
    font-family: 'Barlow', sans-serif;
    letter-spacing: .5px;
    line-height: 32px;
}

.cardFooter {
    margin-bottom: 10%;
    text-align: center;
}

.cardFooter p {
    margin: 20px 0 14px 0;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    text-transform: uppercase;
    color: #D0D6F9;
}

.cardFooter h2 {
    margin: 0;
    font-family: 'Bellefair', serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    color: #fff;
}


/* Tablet Styling */

@media only screen and (min-width: 768px) {
    .yourDestination, .yourDestination span {
        margin-left: 3%;
        text-align: start;
        font-size: 1.3rem;
    }

    .cardTabs li {
        font-size: 1rem;
    }

    .cardDesc h1 {
        font-size: 5rem;
    }

    .cardFooter {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* Mobile Styling */

@media only screen and (min-width: 1000px) {
    .contentContainer {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
    }

    .yourDestination, .yourDestination span {
        font-size: 28px;
    }

    .cardContainer {
        text-align: start;
    }

    .cardTabs ul {
        margin: 0;
    }

    .cardContainer {
        max-width: 650px;
    }
}