* {
    font-family: 'Barlow Condensed', sans-serif;
}

.techContainer {
    margin-left: 11.5%;
    display: flex;
}

.contentContainer {
    height: 500px;
}

.launch span {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: #FFFFFF;
    opacity: 0.25;
}

.launch {
    margin-bottom: 154px;
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
    font-weight: normal;
    letter-spacing: 4.7px;
}

.cardContainer {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.tabs {
    height: 303px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tab {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff6f;
    border-radius: 50%;
    cursor: pointer;
}

.tab:hover {
    border: 1px solid #fff;
}

.activeTab {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ffffff6f;
    border-radius: 50%;
    cursor: pointer;
}

.activeTab p {
    font-size: 32px;
    font-family: 'Bellefair';
    font-weight: 400;
}

.tab p {
    font-size: 32px;
    color: white;
    font-family: 'Bellefair';
    font-weight: 400;
    
}

.content {
    display: none;
}

.activeContent {
    display: block;
}

.cardBody {
margin-left: 60px;
}

.intro {
    margin: 0;
    color: #D0D6F9;
    letter-spacing: 2.7px;

}

.cardBody h1 {
    margin: 11px 0 17px 0;
    color: white;
    font-size: 56px;
    font-weight: 400;
    font-family: 'Bellefair';
    text-transform: uppercase;
}

.desc {
    margin-top: 0;
    width: 74%;
    font-size: 18px;
    color: #D0D6F9;
    line-height: 32px;
    letter-spacing: .7px;
    font-family: 'Barlow';
}

.techImg {
    width: 58%;
    margin: 100px 0;
}
